# Author: Lukas Bower
# Purpose: Preserve exact third-party firmware payload bytes in Git.
# Copyright 2026 Lukas Bower

third_party/raspberry-pi-firmware/**/*.bin -text -diff
third_party/raspberry-pi-firmware/**/*.clm_blob -text -diff
third_party/raspberry-pi-firmware/**/brcmfmac43455-sdio*.txt -text -diff
