[package]
name    = "cohesix"
version = "0.1.0"
edition = "2021"
authors = ["Lukas Bower <you@domain.com>"]

[dependencies]
sha2 = "0.10"
anyhow = "1.0"
env_logger = "0.11.7"
log = "0.4"
clap = { version = "4.5.4", features = ["derive"] }
sysinfo = "0.30"

[workspace]
members = ["cohesix-9p"]

[dev-dependencies]
criterion = "0.5"
