# CLASSIFICATION: COMMUNITY
# Filename: Cargo.toml v0.50
# Author: Lukas Bower
# Date Modified: 2027-08-13
[package]
name    = "cohesix"
version = "0.1.0"
edition = "2021"
authors = ["Lukas Bower <lukas.bower@gmail.com>"]
build = "build.rs"

[dependencies]
log = { version = "0.4", default-features = false }
bitflags = "2"
xmas-elf = "0.10"
sha2 = { version = "0.10", default-features = false }
hkdf = { version = "0.12", default-features = false }
ed25519-dalek = { version = "2", default-features = false }
serde_json = { version = "1", default-features = false, features = ["alloc"] }
aes-gcm = { version = "0.10", default-features = false, features = ["aes"] }
aead = { version = "0.5", default-features = false }
aes = { version = "0.8", default-features = false }
cohesix_9p = { package = "cohesix-9p", path = "./cohesix-9p", default-features = false, optional = true }
# ninep crate required for CUDA remote dispatch
ninep = { version = "0.3", optional = true }
env_logger = { version = "0.11.7", optional = true }
thiserror = { version = "1", default-features = false }
rapier3d = { version = "0.17.2", optional = true }
serde = { version = "1", default-features = false, features = ["derive", "alloc"], optional = true }
hex = { version = "0.4", default-features = false }
rmp-serde = { version = "1", default-features = false, optional = true }
num-traits = { version = "0.2", default-features = false, features = ["libm"] }
rmp = { version = "0.8", default-features = false }
libm = "0.2"



[build-dependencies]
which = "5.0"
[workspace]
members = [
    "cohesix-9p",
    "cohesix-secure9p",
    "tools/cohfuzz",
    "tools/scenario_compiler",
    "tools/cli",
]

[dev-dependencies]
criterion = "0.5"
serial_test = "2.0"
ninep = "0.3"
libc = "0.2"
serde = { version = "1", features = ["std"] }

[features]
default = ["std"]
std = ["cohesix_9p", "cohesix_9p/std", "rmp-serde"]
sel4 = ["kernel_bin", "sel4_entry_bin"]
rapier = ["rapier3d"]
busybox = []
busybox_client = []
kernel_bin = []
kernel_uart = []
minimal_uefi = []
sel4_entry_bin = []
posix = ["cohesix_9p/posix"]
tls = []
with_test_case = []
inprocess = []

[lib]
crate-type = ["staticlib"]

[profile.release]
panic = "abort"
strip = "debuginfo"

[[bin]]
name = "cohcc"
path = "src/coh_cc/main.rs"

[[bin]]
name = "kernel"
path = "src/kernel/main.rs"
test = false
required-features = ["kernel_bin", "minimal_uefi"]

[[bin]]
name = "logdemo"
path = "src/userbin/logdemo.rs"
required-features = ["minimal_uefi"]

[[bin]]
name = "init"
path = "src/init/main.rs"
required-features = ["minimal_uefi"]


[[bin]]
name = "cohesix_root"
path = "src/bin/cohesix_root.rs"

[[bin]]
name = "sel4_entry"
path = "src/bootstrap/sel4_entry.rs"
test = false
required-features = ["sel4", "kernel_bin", "minimal_uefi"]

[[bin]]
name = "cohesix_trace"
path = "tools/cli/src/bin/cohtrace.rs"

[[bin]]
name = "cohesix_cap"
path = "tools/cli/src/bin/cli_cap.rs"

[[bin]]
name = "cohesix_build"
path = "tools/cli/src/bin/cohbuild.rs"


[patch.crates-io]
ninep = { path = "third_party/ninep_portable" }
memchr = { path = "third_party/memchr_simple" }

[package.metadata.cohesix]
root-task = true


[target.'cfg(not(target_os = "uefi"))'.dependencies]
libloading = "0.7"

[target.'cfg(not(target_os = "none"))'.dependencies]
env_logger = { version = "0.11.7" }
clap = { version = "4.5.4", features = ["derive"] }
ureq = { version = "2.9", default-features = false }
tiny_http = "0.12"
chrono = "0.4"
serde_yaml = { version = "0.9", default-features = false }
image = { version = "0.25", default-features = false, features = ["jpeg"] }
toml = { version = "0.8" }

[target.'cfg(not(no_std))'.dependencies]
once_cell = { version = "1", default-features = false, features = ["alloc"] }
curve25519-dalek = { version = "3.2.1", default-features = false, features = ["fiat_u64_backend"] }

[target.'cfg(no_std)'.dependencies]
curve25519-dalek = { version = "3.2.1", default-features = false, features = ["u64_backend"] }
