[package]
name    = "cohesix"
version = "0.1.0"
edition = "2021"
authors = ["Lukas Bower <you@domain.com>"]

[dependencies]
sha2 = "0.10"
anyhow = "1.0"
env_logger = "0.11.7"
log = "0.4"
clap = { version = "4.5.4", features = ["derive"] }
sysinfo = "0.30"
libloading = "0.7"
rapier3d = "0.17.2"
ureq = "2.9"
tokio = { version = "1", features = ["sync", "rt"] }
once_cell = "1"
cohesix-9p = { path = "cohesix-9p" }
serde = { version = "1", features = ["derive"] }
serde_json = "1"
hex = "0.4"
rmp-serde = "1"
ring = "0.17.8"
hostname = "0.3"
nix = { version = "0.28", default-features = false, features = ["signal"] }

[workspace]
members = [
    "cohesix-9p",
    "tools/cohfuzz",
    "tools/scenario_compiler",
]

[dev-dependencies]
criterion = "0.5"
serial_test = "2.0"
tempfile = "3"
