#!/bin/rc
# CLASSIFICATION: COMMUNITY
# Filename: init.rc v0.2
# Author: Lukas Bower
# Date Modified: 2027-12-31

# Cohesix kernel boot script
# Mount the boot volume and wire BusyBox applets

mount 9p -c /srv/boot /boot
bind -a /boot/bin /bin
bind -a /boot/usr/bin /usr/bin

applets='sh ls cat echo mount umount vi cp mv rm grep head tail printf test mkdir rmdir'
for(app in $applets){
    ln /bin/busybox /bin/$app
}

echo Cohesix init.rc executed

