# Author: Lukas Bower
[package]
name = "root-task"
version = "0.1.0"
edition = "2021"
publish = false

[features]
default = ["net"]
net = [
    "dep:smoltcp",
    "dep:spin",
]

[dependencies]
cohesix-ticket = { workspace = true }
embedded-io = { version = "0.4", default-features = false }
nb = "1.1"
portable-atomic = "1.6"

[dependencies.heapless]
version = "0.8"

[dependencies.smoltcp]
version = "0.11"
optional = true
default-features = false
features = [
    "medium-ethernet",
    "proto-ipv4",
    "socket-tcp",
]

[dependencies.spin]
version = "0.9"
optional = true

[target.'cfg(not(target_os = "none"))'.dependencies]
anyhow = { workspace = true }
secure9p-wire = { workspace = true }
