# Author: Lukas Bower
[package]
name = "root-task"
version = "0.1.0"
edition = "2021"
publish = false

[dependencies]
cohesix-ticket = { workspace = true }

[target.'cfg(not(target_os = "none"))'.dependencies]
anyhow = { workspace = true }
secure9p-wire = { workspace = true }
