# CLASSIFICATION: COMMUNITY
# Filename: .cargo/config.toml v0.15
# Author: Lukas Bower
# Date Modified: 2027-08-07
cargo-features = ["build-std"]

[source.vendored-sources]
directory = "vendor"

[target.aarch64-unknown-linux-musl]
linker = "ld.lld"

[target.x86_64-unknown-linux-musl]
linker = "ld.lld"

[target.sel4-aarch64]
linker = "ld.lld"
rustflags = [
  "-C", "link-arg=-T/workspace/cohesix/link.ld",
]

[unstable]
build-std = ["core", "alloc", "compiler_builtins"]
build-std-features = ["compiler-builtins-mem"]

[env]
RUSTC_BOOTSTRAP = "1"
