# CLASSIFICATION: COMMUNITY
# Filename: .cargo/config.toml v0.13
# Author: Lukas Bower
# Date Modified: 2027-01-31

[source.crates-io]
replace-with = "vendored-sources"

[source.vendored-sources]
directory = "vendor"

[net]
offline = true


[target.aarch64-unknown-linux-musl]
linker = "ld.lld"
rustflags = [
  "-C", "link-arg=-T/workspace/cohesix/link.ld",
]


[target.x86_64-unknown-linux-musl]
linker = "ld.lld"
rustflags = [
  "-C", "link-arg=-nostdlib",
  "-C", "link-arg=-Tlink.ld",
]
