# Author: Lukas Bower
[profile.dev.package.root-task]
incremental = false

[profile.release.package.root-task]
incremental = false
opt-level = "s"
codegen-units = 1
strip = "symbols"

[profile.dev.package.nine-door]
incremental = false

[profile.release.package.nine-door]
incremental = false

[profile.dev.package.worker-heart]
incremental = false

[profile.release.package.worker-heart]
incremental = false

[profile.dev.package.worker-gpu]
incremental = false

[profile.release.package.worker-gpu]
incremental = false

[target.aarch64-unknown-none]
rustflags = [
    "-C",
    "relocation-model=static",
    "-C",
    "code-model=large",
    "-C",
    "link-arg=-T{env:SEL4_LD}",
    "-C",
    "link-arg=-Wl,--gc-sections",
    "-C",
    "link-arg=-no-pie",
]
