# CLASSIFICATION: COMMUNITY
# Filename: config.toml v0.6
# Author: Lukas Bower
# Date Modified: 2026-08-10

[build]

[env]
CUDA_HOME = "/usr"

[target.x86_64-unknown-uefi]
linker = "lld-link"
rustflags = [
  "-C", "link-arg=-mno-red-zone",
  "-C", "link-arg=-ffreestanding",
  "-C", "link-arg=-fPIC",
  "-C", "link-arg=-Wl,--subsystem,10",
  "-C", "link-arg=-Tlinker.ld"
]

[net]
git-fetch-with-cli = true
