# CLASSIFICATION: COMMUNITY
# Filename: config.toml v0.2
# Author: Lukas Bower
# Date Modified: 2025-06-16

[build]
target = "x86_64-unknown-uefi"

[target.x86_64-unknown-uefi]
linker = "clang"
rustflags = [
  "-C", "link-arg=-mno-red-zone",
  "-C", "link-arg=-ffreestanding",
  "-C", "link-arg=-fPIC",
  "-C", "link-arg=-Wl,--subsystem,10",
  "-C", "link-arg=-Tlinker.ld"
]