# CLASSIFICATION: COMMUNITY
# Filename: .cargo/config.toml v0.12
# Author: Lukas Bower
# Date Modified: 2025-07-04

[source.crates-io]
replace-with = "vendored-sources"

[source.vendored-sources]
directory = "vendor"

[net]
offline = true

[target.aarch64-unknown-linux-musl]
linker = "aarch64-linux-gnu-gcc"

[target.x86_64-unknown-linux-musl]
linker = "x86_64-linux-gnu-gcc"
