# CLASSIFICATION: COMMUNITY
# Filename: .cargo/config.toml v0.22
# Author: Lukas Bower
# Date Modified: 2028-11-05

[source.vendored-sources]
directory = "vendor"

[target.aarch64-unknown-none]
rustflags = ["--sysroot=/root/.rustup/toolchains/nightly-x86_64-unknown-linux-gnu"]

[target.aarch64-unknown-none.unstable]
build-std = "core,alloc,compiler_builtins"
build-std-features = "compiler-builtins-mem"

[env]
RUSTC_BOOTSTRAP = "1"
