# CLASSIFICATION: COMMUNITY
# Filename: config.toml v0.3
# Author: Lukas Bower
# Date Modified: 2025-08-17

[build]

[target.x86_64-unknown-uefi]
linker = "lld-link"
rustflags = [
  "-C", "link-arg=-mno-red-zone",
  "-C", "link-arg=-ffreestanding",
  "-C", "link-arg=-fPIC",
  "-C", "link-arg=-Wl,--subsystem,10",
  "-C", "link-arg=-Tlinker.ld"
]
