# CLASSIFICATION: COMMUNITY
# Filename: config.toml v0.1
# Author: Lukas Bower
# Date Modified: 2025-07-22
[target.x86_64-unknown-uefi]
linker = "clang"
linker-flavor = "ld.lld"
rustflags = ["-C", "link-arg=-mno-red-zone", "-C", "link-arg=-ffreestanding", "-C", "link-arg=-fPIC", "-C", "link-arg=-Wl,--subsystem,10", "-C", "link-arg=-Tlinker.ld"]
