# CLASSIFICATION: COMMUNITY
# Filename: .cargo/config.toml v0.16
# Author: Lukas Bower
# Date Modified: 2027-08-07

[source.vendored-sources]
directory = "vendor"

[target.aarch64-unknown-linux-musl]
linker = "aarch64-linux-musl-gcc"

[target.x86_64-unknown-linux-musl]
linker = "x86_64-linux-musl-gcc"

[target.sel4-aarch64]
linker = "ld.lld"
rustflags = ["-C", "link-arg=-Tlink.ld"]

[unstable]
build-std = ["core", "alloc", "compiler_builtins"]
build-std-features = ["compiler-builtins-mem"]

[env]
RUSTC_BOOTSTRAP = "1"

cargo-features = ["build-std"]
