<?xml version="1.0" encoding="UTF-8"?>
<!-- Author: Lukas Bower -->
<!-- Purpose: Launch the Mac-side en8 bootpd supervisor for Pi 4 wired NIC DHCP bring-up. -->
<!-- Copyright 2026 Lukas Bower -->
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.lukasbower.cohesix.en8-bootpd</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/lukasbower/GitHub/cohesix/tools/host-bootpd/start-en8-bootpd.zsh</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>StandardOutPath</key>
	<string>/Users/lukasbower/GitHub/cohesix/out/host-bootpd/launchd.out.log</string>
	<key>StandardErrorPath</key>
	<string>/Users/lukasbower/GitHub/cohesix/out/host-bootpd/launchd.err.log</string>
</dict>
</plist>
